header{
  color: rgba(#000,0.9);
  position: relative;
  .header-wrap{
    width: 1000px;
    margin: 0 auto ;
    text-align: left;
    overflow: hidden;
    padding: 100px 0 80px;
    @media (max-width: 1000px){
      width: 90%;
      padding: 80px 0;
    }
    @media (max-width: 767px){
      width: 90%;
      padding: 30px 0;
    }
  }
  .header-left{
    width: 420px;
    float:left;
    @media (max-width: 1000px){
      width: 100%;
      float: none;
      overflow: hidden;
      p{
        width: 38%;
        margin-right: 10%;
        float: left;
        &:last-child{
          width: 50%;
          margin-right: 0;
        }
      }
    }
    @media (max-width: 767px){
      width: 100%;
      float: none;
      p{
        width: 100%;
        &:last-child{
          width: 100%;

        }
      }
    }
  }
  .header-right{
    width: 550px;
    float:right;
    @media (max-width: 1000px){
      display: none;
    }
  }
  h1{
    font-weight: 500;
    margin: 8px 0 24px;
    @media (max-width: 767px){
      margin: 0 0 16px;
      font-size: 28px;
    }
  }
  p {
    font-size: 24px;
    line-height: 1.6em;
    font-family:  "gr",   sans-serif;
    opacity: 0;
    font-weight: 400;
    transform: scale(0.95) translate(0,10px);
    margin-bottom: 12px;
    @media (max-width: 767px){
      font-size: 19px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}


header.mini {
  padding: 16px 0 16px;
  min-height: 0px ;
  box-shadow: 0 1px 2px rgba(#000,0.1);
  position: fixed;
  top:0;
  width: 100%;
  z-index: 99;
  background: rgba(#fff,0.98);
  text-align: center;
  @media (max-width: 767px){
    padding: 10px 0;
  }
  .container{

  }
  h4{
    font-size: 20px;
    font-weight: 500;
  }
  a{
    padding: 4px 12px 6px;
    display: inline-block;
    border: 1px solid rgba(#fff,0.2);
    border-radius: 30px;
    font-size: 22px;
    span{
      font-size: 16px;

    }
    &:hover{
      text-decoration: none;
    }
    svg{
      vertical-align: middle;
      path{
        fill: #000;
      }
    }
  }
  .text-right{
    text-align: right;
  }
}


.dotnav{
  position: fixed;
  top: 50%;
  height: 110px;
  left: 20px;
  margin-top: -55px;
  padding:  0 10px;
  display: block;
  @media (max-width: 1200px) {
    display: none;
  }
  //background: yellow;
  a{
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: block;
    text-indent: -9999px;
    margin: 15px 0;
    background: #ccc;
    //border: 1px solid #bbb;
    transition: transform 0.1s ease-out;
    transform: scale(1);
    &.active{
      background:red;
      transform: scale(1.5);
      border-color: transparent;

    }
  }
  &:hover{
    a{
      transform: scale(1.6);
      transition: transform 0.1s ease-out;
    }
  }
}
