

.project-navigation{
  text-align: right;
  a{
    margin:0 0 0 10px;
    svg path{
      fill: red;
    }
  }
}

.project-page{
  margin-top: 80px;
  margin-bottom: 100px;
  .project-head{
    padding : 40px 0 0;
    text-align: center;
     opacity: 0;
    transform: translate3d(0,20px,0);
    @media (max-width: 767px){
      padding: 25px 0;
    }
    h3{
      margin-top: 0;
      margin-bottom: 10px;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 26px;
      @media (max-width: 767px){
        font-size: 20px;
        margin-bottom: 7px;
      }
    }
    span.scope{
      font-size: 14px;
      color:rgba(#000,0.4);
      @media (max-width: 767px){
        font-size: 14px;
      }
      & > em.dash{
        vertical-align: 0;
        margin: 0 3px;
      }
    }
    &.project-head-animate{
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  .project-content{
    opacity: 0;
    transform: translate3d(0,20px,0);
    &.project-content-animate{
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
    }
  }


  .row{
    margin-bottom: 30px;
    @media (max-width: 767px){
      margin-bottom: 15px;
    }
    &.empty-row{
      height: 20px;
    }
  }
  h4{
    //margin-top: 20px;
    font-size: 15px;
    line-height: 1.6em;
    color:#c0392b;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
  }
  p{
    color: #4a4a4a;
    font-style: normal;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 10px;
    }
  }
  ol,ul{
    li{
      margin-bottom: 5px;
    }
  }
  .image-wrap{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    @media (max-width: 767px){
      margin-bottom: 15px;
    }
    &:after{
      position: absolute;
      content:'';
      border: 1px solid rgba(0,0,0,0.05 );
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
    &.image-iphone{
      width: 100%;
      //max-width: 320px;
      //margin: 5px 1.5% 0;
      display: inline-block;
      &:last-child{
        margin-right:0;
      }
    }
  }

  .image-scroll {
    width: 320px;
    border:1px solid #ccc;
  }

  img{
    max-width: 100%;

    &.rounded{
      border-radius:3px;
    }
  }


  .image-rotate {
    position: relative;
    img.tochange{
      position: absolute;
      top:0;
    }
  }

  .inline-color{
    display: inline-block;
    height: 12px;
    vertical-align: -1px;
    width: 12px;
    border-radius: 50%;
    &.color-wallet{
      background-color:#5BBA2E;
    }
    &.color-points{
      background-color:#3498DB;
    }
    &.color-channel{
      background-color: #3498db;
    }
    &.color-hashtag{
      background-color: #ffcc33;
    }
  }
  .full-width-dark{
    padding-top: 40px;
    padding-bottom: 20px;
    background-color:#eee;
    .image-wrap{
      //box-shadow:0 0 3px rgba(0,0,0,0.5);
    }
  }

}

.source-presentation-list{
  overflow: hidden;
  li{
    margin-bottom:20px;
    position: relative;
    padding-left:0;
    p{
      margin-left: 40px;
      font-size: 14px;
      line-height: 1.6em;
    }
  }
  span.numbering{
    top: 5px;
    position: absolute;
  }
}

span.numbering{
  border: 1px solid #AFB4C3;
  border-radius: 50px;
  display: block;
  height: 26px;
  width: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #AFB4C3;
}


.embed-responsive.embed-responsive-4by4 {
  padding-bottom: 100%;
}


.w_says-4{
  #content{
    //background-color:#E7EBF0;
  }
}

.full-width-8share-mobile  {
  background:#f6f7fa;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  .row{
    margin-bottom: 0;
  }
}