@font-face {
  font-family: 'gr';
  src: url('../fonts/Graphik-Medium.eot');
  src: url('../fonts/Graphik-Medium.woff') format('woff'),
       url('../fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gr';
  src: url('../fonts/Graphik-Regular.eot');
  src: url('../fonts/Graphik-Regular.woff') format('woff'),
       url('../fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family:  "gr",  sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6em;
  position: relative;
  @media (max-width: 1000px){
    line-height: 1.55em;
  }
}
h1,h2,h3,h4,h5{
  font-family: "gr",  sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

h4.section-head{
  font-size: 24px;
  font-weight: 400;
  margin:  0px 0 60px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  &:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 3px;
    border-radius: 6px;
    background: #ddd;
    @media (max-width: 767px){
      left:0;
      margin-left: 0;
    }
  }

  span{
    //background:#fff;
    padding: 0 24px 0 0;
    position: relative;
    display: inline-block;
    em{
      font-style: normal;
      margin-right: 15px;
    }
  }
  @media (max-width: 767px){
    margin-bottom: 30px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .no-pad{
    padding-right: 0;
    padding-left: 0;
  }
  .no-pad-right{
    padding-right: 0;
  }
  .no-pad-left{
    padding-left:0;
  }
  .mini-pad-left{
    padding-left:4px;
  }
  .mini-pad-right{
    padding-right: 4px;
  }
  .text-center,
  .text-right{
    text-align: left;
  }
}


#content{
  .section{
    margin-bottom: 80px;
    @media (max-width: 767px){
      margin-bottom: 40px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.content-wrap{
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  @media (max-width: 1000px){
    width: 90%;
  }
  @media (max-width: 767px){
    width: 90%;
  }
  img{
    max-width: 100%;
    border-radius: 5px;
    &.img-full{
      box-shadow: 0 2px 3px rgba(#000,0.2);
    }
  }
}

.whats-new{

  //background: #f6f7fa;
  text-align: center;
  opacity:0;
   transform: translate3d(0,30px,0);
  &-animate{
    transform: translate3d(0,0,0);
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .content-wrap{
    padding: 50px 0 50px 0;
    //border-bottom: 1px solid #eee;
    @media (max-width: 1000px){
      padding: 80px 0;
    }
    @media (max-width: 767px){
      padding: 40px 0;
    }
  }
}

.section-habit{
  background:#333 url("../images/habit/bg.png") no-repeat  center ;
  background-size: cover;
  padding: 50px 0 40px;
  color:#eee;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 3px rgba(#000,0.2);
  font-size: 15px;
  img{
    width: 480px;
  }
  a{
    color:#fff;
    text-decoration: underline;
  }
}



.case-studies{
  .content-wrap{
    padding: 50px 0 50px 0;
    @media (max-width: 1000px){
      padding: 80px 0;
    }
    @media (max-width: 767px){
      padding: 40px 0;
    }
  }
}

.case-studies-list{
  list-style: none;
  padding:0;
  margin-top: 0;
  margin-bottom: 0;
  li{
    display: inline-block;
    width: 47.5%;
    float: left;
    margin: 0 0 40px 0;
    vertical-align: top;
    &:nth-child(2n+1){
      clear: both;
    }
    @media (max-width: 1000px){
      width: 47%;
    }
    @media (max-width: 767px){
      width: 100%;
    }
    @media (min-width: 768px){
      &:nth-child(2n){
        float: right;
      }
    }

  }
}

.each-case{
  width: 100%;
  display: block;
  text-align: center;
  color: #333;
  transform:translate3d(0,0,0);
  transition: all 0.1s ease-out;
  text-align: left;
  padding: 1px;
  &:hover{
    text-decoration: none;
    border-color:#ccc;
    transform:translate3d(0,-3px,0);
    color:#333;
    transition: all 0.1s ease-out;
    .each-thumbnail{
      transform: scale(1.02);
      transition: all 0.2s ease-out;
    }
  }
  .each-thumbnail{
    position: relative;
    transition: all 0.2s ease-out;
    height: 340px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background:#eee;
    margin-bottom: 24px;
    img{
      height: 100%;
    }
    @media (max-width: 1000px){
      height: 280px;
    }
    @media (max-width: 767px){
      height: 280px;
      margin-bottom: 16px;
    }
  }
  .each-content{
    vertical-align: middle;
    display: block;
    width: 70%;
    transition: all 0.15s ease-out;
    @media (max-width: 1000px){
      width: 80%;
    }
    @media (max-width: 767px){
      width: 90%;
    }
  }
  p{
    letter-spacing: 0.5px;
    text-transform: uppercase;
     font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
    color: #000;
    @media (max-width: 767px){
      font-size: 17px;
      margin-bottom: 5px;
    }
  }
  span{
    &.desc{
      display: block;
      letter-spacing: 0;
      font-weight: normal;
       text-transform: none;
      color:rgba(#000,0.7);
      margin-bottom: 8px;
      @media (max-width: 767px){
        margin-bottom: 5px;
      }
    }
    &.scope{
      font-size: 14px;
      color:rgba(#000,0.4);
       & > em{
        font-size: 14px;
        vertical-align: -1px;
        font-style: normal;
      }
      & > em.dash{
        vertical-align: 0;
        margin: 0 3px;
      }
    }
  }
}



.profile {

  .content-wrap{
    overflow: hidden;
    padding: 0 0 100px 0;
    @media (max-width: 1000px){
      padding: 80px 0;
    }
    @media (max-width: 767px){
      padding: 40px 0;
    }
  }

  .profile-col {
    width: 48%;
    display: inline-block;
    float: left;
    margin-right: 1%;
    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}


footer{
  background: #111;
  .footer-wrap{
    text-align: center;
    padding: 150px 0 160px;
    width: 500px;

    margin: 0 auto ;
    color: rgba(#fff,0.8);
    @media (max-width: 767px){
      padding: 40px 0 40px;
      width: 90%;
      text-align: left;
    }
  }
  h4.section-head {
    color: #fff;
    font-size: 28px;
    margin-bottom: 32px;
    @media (max-width: 767px){
      font-size: 22px;
    }
    &:after {
      background: rgba(#fff,0.15);
    }
  }
  a{
    padding: 10px 28px;
    background:red;
    color:#fff;
    margin-top: 16px;
    display: inline-block;
    border-radius: 5px;
    background-image: linear-gradient(-177deg, #3171D3 0%, #2551A5 100%);
    box-shadow: inset 0 1px 0 rgba(#fff,0.15), 0 2px 2px rgba(#000,0.2);
    transition: transform 0.1s linear;
    transform: scale(1.0);
    &:hover{
      color: #111;
      text-decoration: none;
      position: relative;
      bottom: 1px;
      background-image: linear-gradient(-177deg, #3171D3 0%, #2551A5 100%);

    }
    svg {
      margin: 0 14px 0 0;
      vertical-align: -2px;
    }
    &:hover,
    &:active,
    &:focus
    {
      color:#fff;
      text-decoration: none;
    }
    &:active {
      transform: scale(0.97);
      transition: transform 0.1s linear;
    }
  }
}


