doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title= current_page.data.title || "Gaddafi Rusli"
    = stylesheet_link_tag "all"
    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
  body class=page_classes
    - if page_classes == 'index'
      = partial "header"
    - else
      = partial "header_mini"
    #content
      = yield
    = partial "footer"
    - if page_classes == 'index'
      = partial "dots"
  javascript:
    $(document).ready(function(){$(".project-head").addClass("project-head-animate"),$(".project-content").addClass("project-content-animate")});
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1987381-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();