.project-page
	.container-fluid
		.row
			.col-md-12
				.project-head
					h3 8Share Mobile
					span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Objective-C <em>&bull;</em> Front-end Android
	.container
		.row
			.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
				p 8Share mobile app was my first introduction into the world of mobile design and development. I was initially tasked to work with external contractors to launch the app within couple of weeks. Once that was completed, I decided to take the ownership of iOS code base and continue the development and enhancement of the app.

		.row
			.col-md-10.col-md-offset-1.no-pad
				= image_tag "8share-mobile/8share-screens.png", class: "rounded"


		.row.row-empty

		.row
			.col-md-10.col-md-offset-1
				h4 Making it simpler to share
			.col-md-5.col-md-offset-1.col-sm-7.col-sm-offset-0
				p One of the objectives of launching 8Share mobile app was to make it easier for our existing users to be notified of recently launched campaigns, and share it out immediately to their network before it ended. Due to the nature of the online campaigns, being the first to share is a big advantage for them to maximise their earnings.
			.col-md-4.col-sm-5
				p Therefore, the focal point of the app is only a list of campaigns that are available for them. They can easily choose the right campaigns for their audience, and share it out in just few simple taps.

	.full-width.full-width-8share-mobile
		.container
			.row
				.col-md-12.no-pad
					= image_tag "8share-mobile/8share-share-flow.png", class: "rounded"

	.container
		.row.row-empty
		.row
			.col-md-4.col-md-offset-1
				br
				br
				h4 Progress on the go
				p Other than the sharing capability, another objective of this app was to give the user an easy way to check their earning progress. From the Dashboard, they could see the breakdown of their earning for every campaign that they've shared, re-share them if necessary or see the final earning from the completed campaigns. The Earnings screen allows them to see the overall status of their account.
			.col-md-7.no-pad
					= image_tag "8share-mobile/8share-stats.png", class: "rounded"


