.project-page.project-8share2
	.container-fluid
		.row
			.col-md-12
				.project-head
					h3 8Share
					span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end Rails
	.container
		.row
			.col-lg-10.col-lg-offset-1.col-md-12
				.project-content
					.row
						.col-sm-8.col-md-offset-2.text-center
							p 8Share, used to be known as YouthSays, is a social reward platform for social media users. With users across South East Asia, the platform has been revamped multiple times since it’s inception in 2006. 8Share 2.0 is the biggest revamp effort by the product team to re-focus and re-align it’s mission to be the best reward platform in the region. I was primarily responsible in the full redesign of the website, as well as the front-end development of the Rails project.


					.row
						.col-md-12.no-pad-left.no-pad-right
							.image-wrap
								= image_tag "8share/8share-main.png"

					.row
						.col-md-10.col-md-offset-1
							h4 Simplifying navigational elements
						.col-md-4.col-md-offset-1
							p One of the main goals of the redesign is to simplify navigational elements on the platform. I managed to narrow down main functionalites of the platform and combined them into only a few main pages.
						.col-md-6
							p After considering several nagivational patterns, we’ve decided that having a fixed-position side navigation is the best and freshest approach for this project. Having the link to the main pages reachable at all time is the key to simplify navigation elements, as these pages will be constantly visited by the users every time they are on the site.

					.row
						.col-sm-6.text-right
							br
							= image_tag "8share/8share-mocks-1.png"
						.col-sm-6.text-left
							br
							= image_tag "8share/8share-mocks-2.png"
					br
					.row
						.col-md-4.col-md-offset-1
							h4 Bright colors, subtle roundness
							p 8Share 2.0 design approach is primarily focusing on bringing out the fun and friendly side of the brand - especially with the selection of bright colors and subtle roundness on most of its interface elements - without trying too hard with excessive visual elements and gigantic graphics that can distract users from the main purposes of the site.
						.col-md-6.col-md-offset-1
							br
							= image_tag "8share/8share-color.png"

					.row
						.col-md-5.col-md-offset-1
							br
							= image_tag "8share/8share-font-1.png"
						.col-md-5
							br
							= image_tag "8share/8share-font-2.png"

					.row
						.col-md-4.col-md-offset-1
							h4 Color-coded components
							p The new design is also making use of color-coded components to help users to make the connection between the the features and content with the interfaces presented to them.
							p
								|For instance, green-colored
								span.inline-color.color-wallet
								'  components are mostly associated with cash related featured (cash reward, cash out, etc). Blue-colored
								span.inline-color.color-points
								'  components are mostly associated with anything related to Bonus Points (BP).
						.col-md-6.col-md-offset-1
							br
							= image_tag "8share/8share-reward.png"

					.row
						.col-md-7.col-md-offset-1
							h4 Easy access to rewards statistic
							p As a trustworthy reward platform, it is very important to have a transparent and quick way for the users to keep themselves updated with the rewards they've earned. In 8Share 2.0, we've introduced this new navigational element, called the "Stats Bar" - accessible on every page. It serves as a quick summary of their total rewards, as well as their recent activity.
					.row
						.col-md-11.col-md-offset-1.col-xs-12.no-pad-left.no-pad-right
							.image-wrap
								.image-rotate
									= image_tag "8share/8share-stats-1.png"
									= image_tag "8share/8share-stats-2.png", class:"tochange one"
									= image_tag "8share/8share-stats-3.png", class:"tochange two"
									= image_tag "8share/8share-stats-4.png", class:"tochange three"

					.row
						.col-md-7.col-md-offset-1
							h4 All the stats in one place
							p While the Stats Bar is useful for a quick glimps of recent rewards, it is still crucial to have a dedicated dashboard page that gather all of the user's earnings, sharing history, and other statistic. Dashboard has been the most visited page in all the previous version of 8Share. So, we've improved this page further will much clearer messaging and related actionable items for the users.
					.row
						.col-md-12.no-pad-left.no-pad-right
							.image-wrap
								= image_tag "8share/8share-dashboard.png"
					.row
						.col-md-12.no-pad-left.no-pad-right
							.image-wrap
								= image_tag "8share/8share-special-show.png"
					.row
						.col-md-12
							.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item src="https://player.vimeo.com/video/132945266?color=ffffff&title=0&byline=0&portrait=0" width="480" height="312" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen

					.row
						.col-md-12.no-pad-left.no-pad-right
							.image-wrap
								= image_tag "8share/8share-landing.png"



			javascript:

				$(window).load(function() {
					var i = 0;
					var classes = ['one','two','three'];
					setInterval(function(){
						$(".image-rotate img.tochange").fadeOut();
						$(".image-rotate img.tochange."+classes[i]).fadeIn();
						i++;
						if(i == 3)
							i = 0;
					}, 1500);
				});

