.project-page.project-coffeelah
	.container-fluid
		.row
			.col-md-12
				.project-head
					h3 COFFEELAH
					span.scope 2014 <em class='dash'>&ndash;</em> Idea <em>&bull;</em> Content <em>&bull;</em> UI <em>&bull;</em> UX <em>&bull;</em> Objective-C <em>&bull;</em> Parse
					/
	.container
	  .row
	    .col-lg-10.col-lg-offset-1.col-md-12
		    .project-content
					.row
						.col-sm-8.col-md-offset-2.text-center
							p COFFEELAH started as a side project that I proposed to our engineering team, based on a story published on SAYS. It was also an opportunity for me to learn and build my first iOS application from scratch. I was responsible for the whole project - from ideation, design direction, features selection, content curation and development of the iOS application. Since I was the only developer working on it, I decided to use Parse to handle all the backend and database.

					.row
						.col-sm-12
							= image_tag "coffeelah/coffeelah-main-banner.png"

					.row
						.col-sm-10.col-md-offset-1
							h4 Designing animation and transitions
						.col-sm-5.col-md-offset-1
							p Since the main goal of this project is for me to learn iOS development from scratch, I've decided to code all the features on my own without relying too much on third-party plugins - especially things related to animation and transition inside the app.
						.col-sm-5
							p As a designer, it is very satisfying to be able to design and develop these effects directly in Xcode and be able to play around with the result immediately on real devices.


					.row
						.col-sm-6
							.embed-responsive.embed-responsive-4by4
								iframe class="embed-responsive-item" src="//player.vimeo.com/video/108598840?title=0&amp;byline=0&amp;portrait=0" width="500" height="500" frameborder="0"

						.col-sm-6
							.embed-responsive.embed-responsive-4by4
								iframe class="embed-responsive-item" src="//player.vimeo.com/video/108598796?title=0&amp;byline=0&amp;portrait=0" width="500" height="500" frameborder="0"
					.row
						.col-sm-12
							= image_tag "coffeelah/coffeelah-reviews.png"

					.row
						.col-md-12
							= image_tag "coffeelah/coffeelah-web.png"


