.project-page.project-says-mobile-web
	.container-fluid
		.row
			.col-md-12
				.project-head
					h3 QUE
					span.scope 2015 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end
	.container
		.row
			.col-lg-10.col-lg-offset-1.col-md-12
				.project-content
					.row
						.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
							p
								|I came out with QUE UI Kit as a personal effort to improve my mobile interface design skill. It was a good design practice as I never had the opportunity to design an e-commerce or shopping related app before.  It became my first commercially available UI Kit. It was available for purchase for $15 on my personal website, UI8.net, Designer News Market and Creative Market for few months before it was exclusively purchased by a well-known design prototyping tool - to be given out for free to their users.

					.row
						.col-sm-12.no-pad
							.image-wrap
								= image_tag "que/que-top-banner.jpg"
					.row
						.col-md-10.col-md-offset-1
							.row
								.col-md-12
									h4 Design Approach
								.col-sm-6
									p Compare to most of the UI Kits that are available out there, I decided to design QUE with practical implementation in mind. The approach is to not be too plain for the eyes - but at the same time trying to avoid being too crazy with graphics and UI elements that can distract users from the products that are being sold in the app.
								.col-sm-6
									p This is visible from how the elements are laid out, as well as the colors chosen for each of them. Playing the role of the product/business owner, I imagined how the app should be designed to benefit both the users who are looking to buy stuff, and the business trying to maximize engagement - not much about giving designers custom UI elements to play with.
					.row
						.col-sm-6
							.image-wrap
								= image_tag "que/que-shot-1.jpg"
						.col-sm-6
							.image-wrap
								= image_tag "que/que-shot-2.jpg"
						.col-sm-6
							.image-wrap
								= image_tag "que/que-shot-3.jpg"
						.col-sm-6
							.image-wrap
								= image_tag "que/que-shot-4.jpg"
					.row
						.col-md-4
							h4 Multiple variations
							p QUE comes with several sections including login, sign up, category listing, products listing, product page, shopping cart, checkout and more. I prepared multiple design variations for each of those sections.
							p The product page, for example, can be very different based on the type of product that is being sold. Size options can be as simple as "S" and "M" for one type of item, but it can be as complex as "UK 9 - EU 6.5 - US 5" for another. So, I tried to come out with several possible options that might be needed to sell a real product on a real e-commerce app.
							p In total, there are more than 40 screens available in the UI Kit. Every screen is organized neatly in properly named layers and group based on their section.

						.col-md-8.no-pad
							= image_tag "que/que-samples.png"

					.row
						.col-sm-6
							h4 Landing page
							p Other than having the kit available for purchase on existing marketplaces, I also created a simple marketing page with Gumroad as the payment platform. As expected, it didn't drive a lot of sales - compared to the numbers from external marketplaces - because the lack of traffic.
							p
								| Screenshots of the sales page from each marketplace can be seen here:
								'
								= succeed "," do
									a href="../images/que/que-sale-ui8.png" target="_blank" UI8.net
								= succeed "," do
									a href="../images/que/que-sale-dn.png" target="_blank" DesignerNews Market
								| and
								'
								= succeed "." do
									a href="../images/que/que-sale-cm.png" target="_blank" Creative Market
					.row
						.col-sm-12.no-pad
							.image-wrap
								= image_tag "que/que-website.png"
