.project-page.project-says-mobile-web
	.container-fluid
		.row
			.col-md-12
				.project-head
					h3 SAYS Mobile Web
					span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end Rails
	.container
		.row
			.col-lg-10.col-lg-offset-1.col-md-12
				.project-content
					.row
						.col-sm-6.col-md-6
							p SAYS.com has always been responsive since its previous major redesign. It has served mobile traffic well for over a year - but it is not highly optimized for speed and mobile efficiency. With the rise of mobile traffic to the website, the engineering team decided to separate the mobile version into its own app.
						.col-sm-6.col-md-5
							p For this project, I was given full control on the design, feature sets and tehnical decision. I worked closely with another RoR engineer to build a new lightweight app - only to fetch and display content of stories from main SAYS.com application via API.
					.row
						.col-md-12
							= image_tag "says-mobile/says-mobile-banner-main.jpg", class: "rounded"
					.row
						.col-sm-4.col-md-4.col-xs-12
							br
							h4 Channels and #hashtags
							p Other than the main page and the story page, readers can also navigate and filter stories of SAYS.com via the existing channels and hashtags. A story can belong to a single channel and multipe hashtags.
							p In this app, we try to break the hierarchial barrier between channels and hastags by making it a flat navigational structure, but keeping it separate with only a little color in terms of presentation.
							p Blue <span class='inline-color color-channel'></span> is used to represent channel name and yellow <span class='inline-color color-hashtag'></span> is being used for hashtag name. This can be seen in the header, as well as the header in the suggested stories at the end of each story.

						.col-sm-4.col-md-4.col-xs-6.text-center.no-pad-left.mini-pad-right
							= image_tag "says-mobile/says-mobile-web-channel.png", class: "rounded"
						.col-sm-4.col-md-4.col-xs-6.text-center.no-pad-right.mini-pad-left
							= image_tag "says-mobile/says-mobile-web-hashtag.png", class: "rounded"


					.row
						.col-sm-4.col-md-4.col-xs-12
							br
							h4 Read the full story
							p The story page is the most important and most visited page on SAYS.com, either on desktop and mobile. Most referral traffics come from social sharing like Facebook and Twitter.
						.col-sm-4.col-md-4.col-xs-6.text-center.no-pad-left.mini-pad-right
							.image-wrap
								= image_tag "says-mobile/says-mobile-show-1.png", class: "rounded"
						.col-sm-4.col-md-4.col-xs-6.text-center.no-pad-right.mini-pad-left
							.image-wrap
								= image_tag "says-mobile/says-mobile-show-3.png", class: "rounded"
					.row
						.col-sm-4.col-md-4.col-xs-12
							h4 Sources presentation
							p Every story on SAYS.com is a curation of different sources across the Internet. Similar to the main website, these sources can be anything from article excerpts, videos, images, animated GIFs, Tweets and many more. In this project, extra care is given to the presentation of these sources to make it easier and efficient for consumption on mobile devices.

							ul.list-unstyled.source-presentation-list
								li.col-sm-6.col-md-12
									span.numbering 1
									p Article excerpts have better font size for better readability without other distraction. The original website information sits below the excerpt
								li.col-sm-6.col-md-12
									span.numbering 2
									p GIF  are converted to still images with a "Play" icon. Readers can tap on it to show the animated GIFs if they decided to.
								li.col-sm-6.col-md-12
									span.numbering 3
									p Sometimes a story is linked to another existing story on SAYS. This 'Related story' card is being used to emphasize that specific nature.
								li.col-sm-6.col-md-12
									span.numbering 4
									p Image with external credit and caption is also a common source for stories
								li.col-sm-6.col-md-12
									span.numbering 5
									p Unlike the 'Related story' card on #3, this smaller card is being used at the end of a story to suggest more stories for the readers.
								li.col-sm-6.col-md-12
									span.numbering 6
									p Videos can be from YouTube, Vimeo, Facebook, Vine or Instagram. We make sure that all of these embedded video are resized correctly on different screen sizes.
						.col-sm-8.col-md-8.col-xs-6.text-center.no-pad-left.mini-pad-right
							.image-wrap
								= image_tag "says-mobile/says-mobile-source-type.jpg", class: "rounded"

