.project-page.project-says-mobile-web
	.container
		.row
			.col-md-12
				.project-head
					h3 SAYS
					span.scope 2015 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end Rails
	.container
		.row
			.col-lg-10.col-lg-offset-1.col-md-12
				.project-content
					.row
						.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
							p SAYS.com is one of the fastest growing news website in Malaysia. Branded as a "Social News Network", it was originally launched in 2012 with a mission to bring the power of the people into news curation and distribution. Being among the first few people who was involved in the first version of SAYS.com, I was glad to be given another opportunity to work on its 4th major redesign.


					.row
						.col-md-12.no-pad
							= image_tag "says4/says-main-banner.png", class: "rounded"

 					.row
						.col-sm-10
							.visible-sm
								h4 Objective
								p The main objective that we were trying to achieve with this redesign is to make it easier for the visitors to discover content from various categories on the site - especially from the homepage. Aside from that, we were also aiming to clean up the interface to be cleaner and less intrusive, as to bring the attention onto the content itself.
					.row
						.col-sm-5.col-md-5
							.hidden-sm
								h4 Objective
								p The main objective that we were trying to achieve with this redesign is to make it easier for the visitors to discover content from various categories on the site - especially from the homepage. Aside from that, we were also aiming to clean up the interface to be cleaner and less intrusive, as to bring the attention onto the content itself.
								br
							h4 Homepage skeleton

							p The biggest change of the redesign is on the homepage. In order to assist content discovery, we came up with 5 different sections on the homepage:
							ul.list-unstyled.source-presentation-list
								li.col-sm-12.col-md-12
									span.numbering 1
									p Pinned stories section shows 3 stories above all of the others - mainly to highlight important or breaking news
								li.col-sm-12.col-md-12
									span.numbering 2
									p Latest stories being published on the website, ordered choronologically
								li.col-sm-12.col-md-12
									span.numbering 3
									p Trending stories section shows a list of popular stories in the past 24 hours
								li.col-sm-12.col-md-12
									span.numbering 4
									p Story columns section is useful to re-surface stories from various columns within the site
								li.col-sm-12.col-md-12
									span.numbering 5
									p Gallery section showcases stories that centers around photos and z`vidoes

						.col-sm-7.col-md-7.no-pad
							.image-wrap
								= image_tag "says4/says-skeleton.png", class: "rounded "

					.row
						.col-sm-5.col-md-4
							h4 Branded stories
							p In the previous version of SAYS, there's only 2 types of list item. The first one is a normal story. The second one is a featured updates - where the author can extend an existing story when there's new progress or findings. This is indicated by "Updated from" label in the list item.

							p Together with the new redesign, we introduced Brand stories, where brands can create their own author profile and push out their own content. This is indicated by their logo and name under the list item - and their own brand profile on the site.

						.col-sm-7.col-md-8
							= image_tag "says4/says-list-types.png", class: "rounded "

					.row.row-empty
					.row
						.col-md-12.no-pad
 							= image_tag "says4/says-columns.png", class: "rounded "

					.row
						.col-sm-6.col-md-5.col-md-offset-1
							h4 Columns

							p In the previous version of SAYS, there's only 2 types of list item. The first one is a normal story. The second one is a featured updates - where the author can extend an existing story when there's new progress or findings. This is indicated by "Updated from" label in the list item.
						.col-sm-6.col-md-5

							= image_tag "says4/says-column-icons.png", class: "rounded "

					.row
						.col-md-12.no-pad
							.image-wrap
								= image_tag "says4/says-column-collage.png", class: "rounded "



					.row
						.col-md-12.no-pad
							.image-wrap
								= image_tag "says4/says-story-show.png", class: "rounded "

