.dotnav
	a#dot-intro data-scroll="intro" href="#intro" 1
	a#dot-whatsnew data-scroll="whatsnew" href="#whatsnew" 1
	a#dot-projects data-scroll="projects" href="#projects" 1
	a#dot-contact data-scroll="contact" href="#contact" 1