footer id="contact"
	.footer-wrap
		h4.section-head Let's work together
		p For the past 7 years, I've helped various startup founders to design and launch their web and mobile products.
		p Yours could be next.
		a href="mailto:gaddafirusli@gmail.com"
			svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
				path fill="currentColor" fill-rule="evenodd" d="M7.7 8.5c1.4 1.3 2.3 2 2.8 2s1.4-.7 2.8-2l4.3 4c.3.2.6.2 1 0v-1L14 7.8l.4-.4.5-.5c1-.8 1.6-1.7 2.3-2.5l.8-.8.4-.3c.2-.2.2-.6 0-.8-.3-.2-.7-.2-1 0 0 0 0 .2-.2.3l-.7.7L14.2 6l-.4.4c-1.7 1.7-3 3-3.3 3-.2 0-1.6-1.3-3.3-3L6.8 6 4.4 3.6l-.7-.8-.3-.3c-.2-.2-.6-.2-.8 0-.3.2-.3.6 0 .8 0 0 0 .2.2.3l.8.8L6 6.8c0 .2.2.3.4.5l.4.4-4.3 4c-.2 0-.2.5 0 .7.2.3.6.3 1 0l4.2-4zM0 2.5C0 1 1 0 2.4 0h16.2C20 0 21 1 21 2.4v10.2c0 1.3-1 2.4-2.4 2.4H2.4C1 15 0 14 0 12.6V2.4z"
			|Get in touch