header id="intro"
  .header-wrap
    .header-left
      h1 Gaddafi Rusli
      p I'm a digital product designer focusing on interface & experience for mobile & web applications.
      p I also spend my time messing with front-end development & building Swift apps. Always thinking about the next new things to learn & build.
    .header-right
      .header-art
        = partial "head-art.svg"
