header.mini
  .container
    .row
      .col-lg-12.col-md-12
        .row
          .col-xs-3.text-left
            = link_to "/" do
              svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                path fill="#4A4A4A" fill-rule="evenodd" d="M12 3l-9.6 8.2c-.2.2-.4.5-.4.8 0 .6.4 1 1 1h2v7c0 .6.4 1 1 1h3c.6 0 1-.4 1-1v-4h4v4c0 .6.4 1 1 1h3c.6 0 1-.4 1-1v-7h2c.6 0 1-.4 1-1 0-.3-.2-.6-.4-.8L12 3z"
          .col-xs-6
          	h4 Gaddafi Rusli
          .col-xs-3.text-right
            = link_to "#contact" do
              svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                path fill="currentColor" fill-rule="evenodd" d="M7.7 8.5c1.4 1.3 2.3 2 2.8 2s1.4-.7 2.8-2l4.3 4c.3.2.6.2 1 0v-1L14 7.8l.4-.4.5-.5c1-.8 1.6-1.7 2.3-2.5l.8-.8.4-.3c.2-.2.2-.6 0-.8-.3-.2-.7-.2-1 0 0 0 0 .2-.2.3l-.7.7L14.2 6l-.4.4c-1.7 1.7-3 3-3.3 3-.2 0-1.6-1.3-3.3-3L6.8 6 4.4 3.6l-.7-.8-.3-.3c-.2-.2-.6-.2-.8 0-.3.2-.3.6 0 .8 0 0 0 .2.2.3l.8.8L6 6.8c0 .2.2.3.4.5l.4.4-4.3 4c-.2 0-.2.5 0 .7.2.3.6.3 1 0l4.2-4zM0 2.5C0 1 1 0 2.4 0h16.2C20 0 21 1 21 2.4v10.2c0 1.3-1 2.4-2.4 2.4H2.4C1 15 0 14 0 12.6V2.4z"

