.whats-new id="whatsnew"
  .content-wrap
    h4.section-head What's New
    .section.section-habit
      = image_tag "habit/appscreen.png"
      p Habit for Mac. <a href="http://gaddafirusli.my/habit" target="_blank">Download here</a>

    .section
      = image_tag "fave/fave-phones.png"
    .section
      = image_tag "fave/game.png", class: "img-full"
    .section
      = image_tag "fave/fave-phones-2.png"
    .section
      = image_tag "fave/home.jpg", class: "img-full"

.case-studies id="projects"
  .content-wrap
    h4.section-head Past Projects
    ul.case-studies-list.clearfix
      li
        a.each-case href="w/que"
          .each-thumbnail style="background-color: #DFF7FF"
            = image_tag "t/que.png"
          .each-content
            p
              | QUE
            span.desc Beautiful iOS Design Kit for your e-commerce app - designed for Sketch
            span.scope 2015 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end
      li
        a.each-case href="w/says-4"
          .each-thumbnail style="background-color: #D3E0FF"
            = image_tag "t/says.png"
          .each-content
            p
              |SAYS
            span.desc Re-designing one of the fastest growing social news website in Malaysia
            span.scope 2015 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end Rails

      li
        a.each-case href="w/coffeelah"
          .each-thumbnail style="background-color: #FFEEDE"
            = image_tag "t/coffeelah.png"

          .each-content
            p COFFEELAH
            span.desc Mobile checklist & reviews for your favourite coffee places in town
            span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Objective-C <em>&bull;</em> Parse
      li
        a.each-case href="w/says-mobile-web"
          .each-thumbnail style="background-color: #F7FFEE"
            = image_tag "t/says-mobile.png"

          .each-content
            p SAYS Mobile Web
            span.desc Building better & faster mobile version of a news website
            span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end Rails
      li
        a.each-case href="w/8share-mobile"
          .each-thumbnail style="background-color: #FFE6E5"
            = image_tag "t/8share-mobile.png"
          .each-content
            p 8Share Mobile
            span.desc Designing & building the mobile app for a social reward platform
            span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Objective-C <em>&bull;</em> Front-end Android

      li
        a.each-case href="w/8share-2"
          .each-thumbnail style="background-color: #FFE4B7"
            = image_tag "t/8share.png"
          .each-content
            p
              |8Share
            span.desc Re-imagining social reward platform for a friendlier & approachable experience
            span.scope 2014 <em class='dash'>&ndash;</em> UI <em>&bull;</em> UX <em>&bull;</em> Front-end Rails


javascript:
  $(document).ready(function(){function o(){t($(window).scrollTop()<a?"a#dot-intro":$(window).scrollTop()<n?"a#dot-whatsnew":$(window).scrollTop()<i?"a#dot-projects":"a#dot-contact")}function t(o){$(".dotnav a").removeClass("active"),$(o).addClass("active")}if($(".whats-new").addClass("whats-new-animate"),$(".header-wrap").addClass("header-animate"),$(".header-art").addClass("header-art-animate"),0==/Android|iPhone|iPad|iPod|Opera Mini/i.test(navigator.userAgent)){var a=($("#intro").position().top,$("#whatsnew").position().top-50),n=$("#projects").position().top-50,i=$("#contact").position().top-440;o(),$(window).scroll(function(){o()}),$(".dotnav a").on("click",function(o){o.preventDefault();var t=$(this).data("scroll");$("html, body").animate({scrollTop:$("#"+t).position().top},400)})}});

